.gradient-text {
  background: linear-gradient(to right, #ec4899, #8b5cf6);
  font-family: Rajdhani, sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
  position: relative;
  z-index: 2;
}
.desc{
    background:linear-gradient(to right,#eb0377, #7f61c4);
    font-family: Rajdhani, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;

    
}
